@font-face {
    font-family: gothamMedium;
    src: url("../font/Gotham Rounded Medium.otf");
}
@font-face {
    font-family: gothamBook;
    src: url("../font/GothamRounded-Book.otf");
}
html,
body {
	height:100%;
	background-color: white;	
	overflow-x: hidden;
}
h2 {
	font-size: 28pt;
	font-family: gothamMedium;
	color: #5c5c5c;
}
h3 {
	font-size: 22pt;
	font-family: gothamMedium;
}
h4 {
	font-size: 19pt;
	font-family: gothamMedium;
	color: #232323;
}
h5 {
	font-size: 15pt;
	font-family: gothamMedium;
}
h6 {
	font-size: 10	pt;
	font-family: gothamBook;
}
p {
	font-family: gothamBook;
	font-size: 16pt;
	line-height: 30pt;
	color: #707070;
}
body {
	padding: 0 10%;
}
#wrapper {
	min-height:100%;
	position:relative;
	width: 100%;
	display: inline-block;
}
#content{
	padding-bottom: 160px;
}
#footer {
	width: 100%;
	height: 150px;
	position:absolute;
	bottom:0;
	left:0;
}
.navbar-toggle {
	margin: 0;
	padding: 6px 12px;
}
.navbar-toggle .icon-bar {
	background-color: darkgray;
	border-radius: 5px;
	height: 5px;
}
.navbar-header .btn {
	margin-left: 20px;
}
.navbar-header button {
	margin-right: 20px;
}
.header {
	padding: 0;
	width: 100%;
}
.header-index {
	background: url(../img/1.png) no-repeat;
	background-size: cover;
}
.header-provider {
	background: url(../img/pro1.png) no-repeat;
	background-size: cover;
}
.header-patient {
	background: url(../img/pat1.png) no-repeat;
	background-size: cover;
}
.navbar-right {
	margin-right: 20px;
}
nav.page-header, nav.page-header-us, nav.page-header-provider {
	position: fixed;
	width: 100%;
	padding-right: 20%;
	background-color: white;
	opacity: 0.9;
	z-index: 1000;
}
.page-header, .page-header-provider, .page-header-us {
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	margin: 0;
}
ul.nav>li>a{
	color: #8c8c8c;
	font-family: gothamBook;
	font-size: 11pt;
	letter-spacing: 1.7pt;
	background-color: transparent;
	padding: 6px 10px;
}
ul.nav>li>a:hover {
	font-weight: bold;
	background-color: transparent;
}
.head-note {
	padding: 20% 7.5% 26%;
}
.head-note-big {
	color: #5c5c5c;
	margin-bottom: 0;
}
.head-note-small {
	color: #707070;
	padding-left: 3.3px;
}


.second-section, .second-section-us, .second-section-join, .second-section-patient {
	padding: 9.2% 22% 13.2%;
	background-color: white;
}
.second-section h3 {
	margin-bottom: 4%;
}

.third-section, .third-section-item, .third-section-provider {
	width: 100%;
	display: table;
	border-top: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
}
.third-section-left{
	width: 50%;
	float: left;
}
.third-section-right {
	width: 50%;
	float: right;
}
.third-section-image {
	width: 100%;
	height: 100%;
}
.third-section-text {
	padding: 5.5% 5.2% 0;
}
.third-section-text p {
	margin-top: 35px;
}
.third-section-more {
	float: right;
}
.third-section-more h4 {
	float: left;
	margin-right: 20px;
}
.third-section-more img {
	margin-top: 5px;
}


.fourth-section {
	padding: 10%;
}
.fourth-section-image {
	width: 100%;
}


.fifth-section {
	padding: 10% 25%;
}


.sixth-section {
	padding: 10% 7%;
}
.circle-number {
	float: left;
	border-radius: 50%;
	border: solid 1px #8c8c8c;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 5px;
	margin-top: 7px;
}
.sixth-section-image {
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}
.sixth-section-image img {
	height: 100%;
}


.seventh-section, .seventh-section-join-us {
	padding: 0 33% 20%;
}
.btn-default {
	height: 50px;
	width: 100%;
	vertical-align: middle;
	border-radius: 3px;
	font-size: 14pt;
	line-height: 35px;
	font-family: gothamMedium;
	color: #707070;
}
.btn-default:hover {
	background-color: transparent;
	font-weight: bold;
}


.eigth-section {
	display: inline-block;
	padding: 0 20px;
	width: 100%;
}
.eigth-section p{
	margin-bottom: 0;
	font-size: 8pt;
}


footer{
	border-top: 1px #cfcdcd solid;
	padding: 20px 20px;
}
.social {
	width: 60px;
}
.social div {
	width: 50%;
	float: left;
}
footer p, footer li {
	color: #bfbfbf;
	font-size: 11pt;
	font-family: gothamMedium;
}
footer p {
	line-height: 22px;
}
footer>p {
	font-size: 7pt;
}
.expanded {
	margin: 5%;
	border: solid 2px #f1f1f1;
	display: none;
	padding-bottom: 10%;
}
div.btn-close {
	width: 100%;
	padding: 3%;
}
.two-sides {
	width: 100%;
}
.two-sides-left {
	width: 50%;
	float: left;
}
.two-sides-right {
	width: 50%;
	float: right;
}
.two-sides-item {
	height: 25vw;
	padding: 5% 15% 0;
	border-left: solid 1px #f1f1f1;
	border-right: solid 1px #f1f1f1;
}
.two-sides-item div {
	height: 60px;
	vertical-align: middle;
	display: table-cell;
}
.two-sides-item h4 {
	margin-top: 10%;
}
.two-sides-left h3, .two-sides-right h3 {
	margin-bottom: 20%;
}
.super-image {
	vertical-align: top;
}
.hr-more {
	border-width: 2px;
	margin: 0;
	padding: 0;
	display: none;
}


/*About us*/
.btn-menu {
	margin-bottom: 3px;
	height: 13px;
}
.second-section-us {
	margin-top: 0;
	padding-top: 7%;
}
.page-header-us {
	border-bottom: solid 1px #eee;
}
.third-section-us {
	padding: 7% 15% 10%;
}
.us-man {
	max-width: 100%;
}
.man-name {
	padding-left: 10px;
}


/*Join us*/
.join-us-img {
	height: 16px;
	margin-bottom: 3px;
}
.second-section-join {
	margin-top: 0;
	padding: 10% 18% 0;
}
.second-section-join h4 {
	line-height: 40px;
}


/*Join us 2-1*/
.seventh-section-join-us {
	padding-bottom: 5%;
}
.form {
	padding: 0 20% 10%;
}
label {
	color: #959595;
}
.form-control {
	padding: 30px;
	font-size: medium;
}
.form-group {
	text-align: left;
}
.join-footer {
	width: 100%;
	float: left;
}
.join-footer div {
	float: left;
	width: initial;
}
.join-footer h6 {
	float: right;
}
.join-footer div div {
	padding-right: 20px;
}
.submit-button {
	width: 100%;
}
.submit-button .btn-default {
	width: 200px;
}


/*For provider final*/
.page-header-provider {
	background-color: #fbfbfb;
}
.head-note-provider {
	padding: 20% 6% 25%; 
}
.head-note-provider h2, .head-note-provider h3 {
	color: white;
	margin-left: 40%;
	text-align: right;
}
.third-section-provider {
	background-color: white;
}
.fourth-section-provider {
	padding: 10% 25%;
}
.fifth-section-provider {
	padding: 10% 5%;
}
.last-item {
	padding: 0 15% 0 20%;
}
.sixth-section-provider {
	padding: 10% 25%;
}
.workflow-image {
	width: 100%;
}


/*Surveys*/
.survey-content {
	width: 20%;
	padding-top: 5%;
}
.survey-list {
	padding: 0;
}
.survey-list li{
	list-style: none;
	padding: 5px 0;
}
.survey-list li a{
	color: #63b463;
}


/*Uploader*/
.uploader-content {
	width: 75%;
}
.uploader-content a {
	color: #63b463;
}


/*Knowledge Base*/
.knowledge li a {
	color: #63b463;
}
.knowledge li {
	list-style: none;
}
.knowledge-content {
	width: 40%;
}


/*Progress record uploader*/
.progress-content {
	width: 75%;
}
.file-upload {
	width: 100%;
	height: 120px;
	border: solid black 2px;
	border-radius: 3px;
}
.file-upload div {
	color: #67ab62;
	height: 100px;
	text-align: center;
	padding: 40px;
}
.file-upload button {
	color: white;
	background-color: #8f8f8f;
	border: solid black 1px;
}
.checkbox {
	padding-left: 20px;
}
.progress-form {
	padding: 6px 12px;
}
.btn-upload {
	background-color: #788085;
	border: 1px solid black;
	color: white;
}
.submit-div {
	width: 100%;
}


/*For patient final*/
.head-note-patient {
	padding: 20% 6% 25%; 
}
.head-note-patient h2, .head-note-patient h3 {
	color: white;
}
.second-section-patient {
	padding-top: 5%;
	padding-bottom: 10%;
}
.third-section-patient {
	width: 95%;
	display: inline-block;
	border: solid #ffeeee 2px;
}
.col-1 {
	width: 78%;
	float: left;
	padding: 2%;
	height: 250px;
}
.col-2 {
	width: 22%;
	float: right;
	height: 500px;
}
.col-3 {
	width: 22%;
	float: left;
	height: 500px;
}
.col-4 {
	background-color: #fff7f8;
	height: 250px;
	width: 56%;
	float: left;
	padding: 2%;
}
.col-5 {
	width: 78%;
	float: left;
}
.col-6 {
	float: left;
	padding: 3%;
	width: 74%;
}
.col-7 {
	float: left;
	width: 26%;
}
.col-7 img {
	width: 100%;
}
.col-8 {
	height: 250px;
	width: 100%;
	float: left;
}
.col-10 {
	height: 100%;
	width: 22%;
	float: right;
}
.col-9 {
	padding: 2%;
	width: 78%;
	float: left;
	height: 250px;
}
.col-11 {
	width: 100%;
	height: 250px;
	background-color: #fff7f8;
	float: left;
	padding: 2%;
	display: inline-table;
}
.more-patient {
	padding: 5%;
}
.patient-alter {
	width: 90%;
	padding: 3%;
	border: solid 1px #eee;
	display: none;
	margin-bottom: 5%;
}
.patient-alter a {
	color: #888;
	text-decoration: underline;
}
.patient-last {
	padding: 5%;
}
.col-xs-10 {
	border-bottom: solid 1px #eee;
}


/*mobile navbar*/
div#cover{
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: gray;
	opacity: 0.6;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}
.sidenav {
	text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    display: block;
    border-width: 90%;
    border-bottom: solid 1px #cfcdcd;
    margin: 0 20px;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    border-width: 0;
    margin: 0;
}


/*Carousel*/
#carousel-testimonials .carousel-indicators {
    bottom: inherit;
    top: 20rem;
}
#carousel-testimonials .carousel-indicators li{ 
    border :2px solid #7c8a8d; 
    width:16px; 
    height:16px;
    margin:0px;
    } 
#carousel-testimonials .carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #ac1c20;
    border :2px solid #ac1c20;
}
#carousel-testimonials .caption blockquote{
    color:#282828;
    
}
#carousel-testimonials .caption small cite{
    color:#4a4f55;
    font-size:20px;
}
#carousel-testimonials .caption #stars-existing{
    display:inline-block;
    font-size:28px;
}
#carousel-testimonials .caption #stars-existing .glyphicon-star-empty{
    color:#ac1c20;
}

#carousel-testimonials .caption #stars-existing .glyphicon-star{
    color:#ac1c20;
}
#carousel-testimonials .provider-carousel {
	top: 21em;
}
.carousel {
	height: 200px;
}
@media screen and (max-width: 1590px) {
	.two-sides-item {
		height: 30vw;
	}
}
@media screen and (max-width: 1400px) {
	.two-sides-item {
		height: 40vw;
	}
}
@media screen and (max-width: 1280px) {
	.seventh-section {
		padding-left: 5%;
		padding-right: 5%; 
	}
	.carousel {
		height: 250px;
	}
	.two-sides-item {
		height: 50vw;
	}
}
@media screen and (max-width: 1050px) {
	.two-sides-item {
		height: 70vw;
	}
}
@media screen and (max-width: 1200px) {
	.col-8, .col-9, .col-10, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7 {
		height: 100%;
		width: 100%;
	}
}
@media screen and (max-width: 870px) {
	.two-sides-item {
		height: 80vh;
	}
}
@media screen and (max-width: 770px){
	.seventh-section, .seventh-section-join-us {
		padding: 0 10% 20%;
	}
	.two-sides-left, .two-sides-right {
		width: 100%;
	}
	.two-sides-right {
		margin-top: 80px;
	}
	.two-sides-item {
		height: 100%;
	}
}
@media screen and (max-width: 480px){
	body {
		padding: 0;
	}
	.header {
		background-size: 100% 100%;
	}
	nav.page-header, nav.page-header-us, nav.page-header-provider {
		padding-right: 0;
	}
	.third-section-left, .third-section-right {
		width: 100%;
	}
	.col-8, .col-9, .col-10, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7 {
		height: 100%;
		width: 100%;
	}
	.head-note-provider h2, .head-note-provider h3 {
		margin-left: 0;
	}	
	.survey-content {
		width: 80%;
	}
	.fourth-section-provider, .fifth-section, .second-section, .fourth-section-provider {
		padding: 10% 5%;		
	}
	#carousel-testimonials .provider-carousel {
		top: 26em;
	}
	.carousel {
		height: 300px;
	}	
}
