@font-face {
    font-family: myFirstFont;
    src: url("../font/GothamRounded-Medium.otf");
    font-weight: bold;
}
html,
body {
	height:100%;
	background-color: white;	
	overflow-x: hidden;
	font-family: myFirstFont;
}
body {
	padding: 0;
}
p {
	color: #6f6f6f;
	line-height: 33px;
	letter-spacing: 1px;		
}
h6 {
	letter-spacing: 3.3px;
}
#wrapper, #wrapper-provider, #wrapper-patient {
	min-height:100%;
	position:relative;
	background: url("../img/1.png") no-repeat;
	background-size: contain;
	max-width: 100%;
	display: inline-block;
}
#content{
	padding-bottom: 160px;
}
#footer {
	width: 100%;
	height: 150px;
	position:absolute;
	bottom:0;
	left:0;
}
.header {
	padding: 0;
}
.page-header, .page-header-provider, .page-header-us {
	padding-top: 20px;
	padding-bottom: 20px;
	border: none;
	margin: 0;
}
ul.nav>li>a{
	color: #8c8c8c;
	letter-spacing: 1.1px;
	background-color: transparent;
	padding: 6px 10px;
}
.head-note, .head-note-provider {
	padding-top: 12%;
	padding-left: 7.5%;
}
.head-note-big {
	color: #5c5c5c;
	margin-bottom: 0;
	letter-spacing: 0.35px;
	height: 36px;
}
.head-note-small {
	color: #707070;
	line-height: 0.8;
	padding-left: 3.3px;
	letter-spacing: 1px;
}


.second-section, .second-section-us, .second-section-join, .second-section-patient {
	margin-top: 27%;
	padding: 9.2% 22% 13.2%;
	background-color: white;
}
.second-section h3 {
	margin-bottom: 4%;
	letter-spacing: 0.2px;
}

.third-section, .third-section-item, .third-section-provider {
	width: 100%;
	display: table;
	border-top: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
}
.third-section-left{
	width: 50%;
	float: left;
}
.third-section-right {
	width: 50%;
	float: right;
}
.third-section-image {
	width: 100%;
	height: 100%;
}
.third-section-text {
	padding: 5.5% 5.2% 0;
}
.third-section-text p {
	margin-top: 20px;
}
.third-section-more {
	float: right;
}
.third-section-more h4 {
	float: left;
	margin-right: 20px;
}
.third-section-more img {
	margin-top: 5px;
}


.fourth-section {
	padding: 10%;
}
.fourth-section-image {
	width: 100%;
}


.fifth-section {
	padding: 10% 25%;
}


.sixth-section {
	padding: 10% 7%;
}
.circle-number {
	float: left;
	border-radius: 50%;
	border: solid 1px #8c8c8c;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-right: 5px;
	margin-top: 5px;
}
.sixth-section-image {
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}


.seventh-section, .seventh-section-join-us {
	padding: 0 33% 20%;
}
.btn-default {
	height: 50px;
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	border-radius: 3px;
}


.eigth-section {
	display: inline-block;
	padding: 0 20px;
}
.eigth-section p{
	float: right;
	line-height: 22px;
	letter-spacing: 0;
	margin-bottom: 0;
}


footer{
	border-top: 1px #cfcdcd solid;
	padding: 20px 20px;
}
footer p {
	float: left;
}
footer>div {
	float: right;
}
footer div div {
	width: 100%;
}
footer div div div {
	float: left;
	width: 50%;
}


.expanded {
	margin: 5%;
	border: solid 2px #f1f1f1;
	display: none;
	padding-bottom: 10%;
}
div.btn-close {
	width: 100%;
	padding: 3%;
}
.two-sides {
	width: 100%;
}
.two-sides-left {
	width: 50%;
	float: left;
}
.two-sides-right {
	width: 50%;
	float: right;
}
.two-sides-item {
	padding: 5px 15% 0;
	border-left: solid 1px #f1f1f1;
	border-right: solid 1px #f1f1f1;
}
.two-sides-item h4 {
	margin-top: 10%;
}
.two-sides-left h3, .two-sides-right h3 {
	margin-bottom: 20%;
}
.super-image {
	vertical-align: top;
}
.hr-more {
	border-width: 2px;
	margin: 0;
	padding: 0;
	display: none;
}


/*About us*/
.btn-menu {
	margin-bottom: 3px;
	height: 11px;
}
#wrapper-us {
	min-height:100%;
	position:relative;
	display: inline-block;
	width: 100%;
}
.second-section-us {
	margin-top: 0;
	padding-top: 7%;
}
.page-header-us {
	border-bottom: solid 1px #eee;
}
.third-section-us {
	padding: 7% 15% 10%;
}
.us-man {
	margin-top: 25%;
	max-width: 100%;
}
.man-name {
	padding-left: 10px;
}


/*Join us*/
.join-us-img {
	height: 16px;
	margin-bottom: 3px;
}
.second-section-join {
	margin-top: 0;
	padding: 10% 18% 0;
}
.second-section-join h4 {
	letter-spacing: 2.4px;
	line-height: 40px;
}


/*Join us 2-1*/
.seventh-section-join-us {
	padding-bottom: 5%;
}
.form {
	padding: 0 20% 10%;
}
label {
	color: #959595;
}
.form-control {
	padding: 30px;
	font-size: medium;
}
.form-group {
	text-align: left;
}
.join-footer {
	width: 100%;
	float: left;
}
.join-footer div {
	float: left;
	width: initial;
}
.join-footer h6 {
	float: right;
}
.join-footer div div {
	padding-right: 20px;
}
.submit-button {
	width: 100%;
}
.submit-button .btn-default {
	width: 200px;
}


/*For provider final*/
#wrapper-provider {
	background: url("../img/pro1.png") no-repeat;
	background-size: contain;
}
.page-header-provider {
	background-color: #fbfbfb;
}
.head-note-provider {
	float: right;
	margin-right: 5%;
}
.head-note-provider h2, .head-note-provider h3 {
	color: white;
	margin-left: 40%;
	text-align: right;
}
.third-section-provider {
	margin-top: 45%;
	background-color: white;
}
.fourth-section-provider {
	padding: 10% 25%;
}
.fifth-section-provider {
	padding: 10% 5%;
}
.last-item {
	padding: 0 15% 0 20%;
}
.sixth-section-provider {
	padding: 10% 25%;
}
.workflow-image {
	width: 100%;
}


/*Surveys*/
.survey-content {
	width: 20%;
}
.survey-list {
	padding: 0;
}
.survey-list li{
	list-style: none;
	padding: 5px 0;
}
.survey-list li a{
	color: #63b463;
}


/*Uploader*/
.uploader-content {
	width: 75%;
}
.uploader-content a {
	color: #63b463;
}


/*Knowledge Base*/
.knowledge li a {
	color: #63b463;
}
.knowledge li {
	list-style: none;
}
.knowledge-content {
	width: 40%;
}


/*Progress record uploader*/
.progress-content {
	width: 75%;
}
.file-upload {
	width: 100%;
	height: 120px;
	border: solid black 2px;
	border-radius: 3px;
}
.file-upload div {
	color: #67ab62;
	height: 100px;
	text-align: center;
	padding: 40px;
}
.file-upload button {
	color: white;
	background-color: #8f8f8f;
	border: solid black 1px;
}
.checkbox {
	padding-left: 20px;
}
.progress-form {
	padding: 6px 12px;
}
.btn-upload {
	background-color: #788085;
	border: 1px solid black;
	color: white;
}
.submit-div {
	width: 100%;
}


/*For patient final*/
#wrapper-patient {
	background-image: url("../img/pat1.png");
	background-size: contain;
	width: 100%;
}
.head-note-patient {
	padding: 20% 6% 0; 
}
.head-note-patient h2, .head-note-patient h3 {
	color: white;
}
.second-section-patient {
	padding-top: 5%;
	padding-bottom: 10%;
}
.third-section-patient {
	width: 95%;
	display: inline-block;
	border: solid #ffeeee 2px;
}
.col-1 {
	width: 78%;
	float: left;
	padding: 2%;
	height: 250px;
}
.col-2 {
	width: 22%;
	float: right;
	height: 500px;
}
.col-3 {
	width: 22%;
	float: left;
	height: 500px;
}
.col-4 {
	background-color: #fff7f8;
	height: 250px;
	width: 56%;
	float: left;
	padding: 2%;
}
.col-5 {
	width: 78%;
	float: left;
}
.col-6 {
	float: left;
	padding: 3%;
	width: 74%;
}
.col-7 {
	float: left;
	width: 26%;
}
.col-7 img {
	width: 100%;
}
.col-8 {
	height: 250px;
	width: 100%;
	float: left;
}
.col-10 {
	height: 100%;
	width: 22%;
	float: right;
}
.col-9 {
	padding: 2%;
	width: 78%;
	float: left;
	height: 250px;
}
.col-11 {
	width: 100%;
	height: 250px;
	background-color: #fff7f8;
	float: left;
	padding: 2%;
}
.more-patient {
	padding: 5%;
}
.patient-alter {
	width: 90%;
	padding: 3%;
	border: solid 1px #eee;
	display: none;
	margin-bottom: 5%;
}
.patient-alter a {
	color: #888;
	text-decoration: underline;
}
.patient-last {
	padding: 5%;
}
.col-xs-10 {
	border-bottom: solid 1px #eee;
}
@media screen and (max-width: 720px){
	.seventh-section, .seventh-section-join-us {
		padding: 0 10% 20%;
	}
}
@media screen and (max-width: 500px){
	.third-section-left, .third-section-right {
		width: 100%;
	}
}